@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  text-decoration: none; }

.header, .headerDos, .fondo .main__QS, .main__Proyectos .divImgDS, .mainColabora__divBtn, .main__Contactos .main__info, .main__Contactos .sectionRS__icons, .main__Filosofia {
  display: flex;
  flex-direction: row; }

.divPrueba, .fondo, .fondo .main__QS__texto, .main__Proyectos, .mainColabora, .mainColabora button, .main__Contactos, .main__Contactos .sectionRS {
  display: flex;
  flex-direction: column; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #0199c8 65%, transparent); }
  .header__divImagen {
    background-color: #ffff;
    padding-left: 2.1rem;
    position: relative;
    min-width: 18.5rem; }
    .header__divImagen .logoHeader {
      background-color: white;
      max-width: 140rem;
      width: 168vw;
      min-width: 122rem;
      max-height: 175vh;
      height: 175vh;
      min-height: 60rem;
      top: -20rem;
      left: -92rem;
      border-radius: 50%;
      position: absolute;
      z-index: 10; }
      .header__divImagen .logoHeader:hover {
        cursor: default; }
      .header__divImagen .logoHeader__div {
        position: absolute;
        margin: 18.5rem 0 0 94rem; }
        .header__divImagen .logoHeader__div__img {
          width: 14rem; }
          .header__divImagen .logoHeader__div__img:hover {
            cursor: pointer; }
    .header__divImagen .prueba {
      background-color: transparent;
      position: absolute; }
  .header__navBar {
    margin-right: 1.5rem;
    z-index: 10; }
    .header__navBar__anchor {
      color: #ffff;
      font-size: 2rem;
      font-weight: 400;
      padding: 0.2rem 0.6rem; }
      .header__navBar__anchor:hover {
        background-color: #72b6ca;
        border: none;
        border-radius: 9px; }
    .header__navBar .linkActive {
      background-color: #72b6ca;
      border: none;
      border-radius: 9px; }
    .header__navBar__item {
      display: inline;
      margin-left: 3rem; }
      .header__navBar__item .anchorContacto {
        border: 2px solid #ffff;
        padding: 0.2rem 0.6rem;
        border-radius: 9px; }

#check, .bar-btn {
  display: none; }

.divPrueba {
  position: absolute;
  margin: 15vh 0 11vh 1rem;
  width: 40%;
  height: 74vh;
  z-index: 1;
  align-items: flex-start;
  justify-content: center; }
  .divPrueba .h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #0199c8;
    line-height: 68px;
    max-width: 40rem; }
  .divPrueba .h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #0199c8;
    line-height: 50px; }
  .divPrueba .p {
    margin-top: 30px;
    font-size: 2.3rem;
    font-weight: 400;
    color: #000;
    max-width: 45rem;
    margin-bottom: 60px; }
  .divPrueba .btnDonar {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.8rem 2.5rem;
    border: none;
    background-color: #0199c8;
    color: #ffff;
    align-self: center; }
    .divPrueba .btnDonar:hover {
      cursor: pointer;
      background-color: #72b6ca; }
    .divPrueba .btnDonar__a {
      color: #ffff; }

@keyframes submenu {
  from {
    height: 0; }
  to {
    height: 9rem; } }

.headerDos {
  position: fixed;
  top: 0;
  width: 100%;
  height: 9rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #ffff 65%, transparent);
  z-index: 2; }
  .headerDos__divImagen {
    margin-left: 2.1rem; }
    .headerDos__divImagen .logoHeader__img {
      width: 14rem; }
  .headerDos__navBar {
    margin-right: 1.5rem; }
    .headerDos__navBar__anchor {
      color: #0199c8;
      font-size: 2rem;
      font-weight: 400;
      padding: 0.2rem 0.6rem; }
      .headerDos__navBar__anchor:hover {
        background-color: #ccdce1;
        border: none;
        border-radius: 9px; }
    .headerDos__navBar .linkActive {
      background-color: #ccdce1;
      border: none;
      border-radius: 9px; }
    .headerDos__navBar__item {
      display: inline;
      margin-left: 3rem; }
      .headerDos__navBar__item .anchorContacto {
        border: 2px solid #0199c8;
        padding: 0.2rem 0.6rem;
        border-radius: 9px; }

@keyframes submenu {
  from {
    height: 0; }
  to {
    height: 9rem; } }

#check, .bar-btnDos {
  display: none; }

.divPrueba {
  position: absolute;
  margin: 15vh 0 11vh 1rem;
  width: 40%;
  height: 74vh;
  z-index: 1;
  align-items: flex-start;
  justify-content: center; }
  .divPrueba .h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #0199c8;
    line-height: 68px;
    max-width: 40rem; }
  .divPrueba .h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #0199c8;
    line-height: 50px; }
  .divPrueba .p {
    margin-top: 30px;
    font-size: 2.3rem;
    font-weight: 400;
    color: #000;
    max-width: 45rem;
    margin-bottom: 60px; }
  .divPrueba .btnDonar {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.8rem 2.5rem;
    border: none;
    background-color: #0199c8;
    color: #ffff;
    align-self: center; }
    .divPrueba .btnDonar:hover {
      cursor: pointer;
      background-color: #72b6ca; }
    .divPrueba .btnDonar__a {
      color: #ffff; }

.mainIndex {
  padding-top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

main {
  background-color: #0199c8;
  padding-top: 8rem; }

.fondo {
  background-color: #0199c8; }
  .fondo .main__QS {
    padding: 0 2rem 0 2rem;
    background-color: #0199c8;
    padding-top: 1rem;
    color: #ffff;
    justify-content: center;
    align-items: center;
    text-align: left; }
    .fondo .main__QS img {
      position: relative;
      width: 750px; }
    .fondo .main__QS p {
      font-weight: 400;
      font-size: 25px;
      line-height: 34px; }
    .fondo .main__QS .titulo__main {
      font-weight: 700;
      font-size: 60px;
      line-height: 82px;
      align-self: flex-start; }
    .fondo .main__QS__texto {
      justify-content: center;
      align-items: center;
      align-self: flex-start; }

.main__Proyectos {
  padding-top: 130px;
  color: #ffff;
  justify-content: center; }
  .main__Proyectos section {
    width: fit-content; }
  .main__Proyectos h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 95px;
    margin-left: 60px; }
  .main__Proyectos h3 {
    margin-left: 60px;
    line-height: 54.56px; }
  .main__Proyectos p {
    margin-left: 60px;
    margin-right: 60px; }
  .main__Proyectos .sectionVS {
    margin-top: -100px; }
    .main__Proyectos .sectionVS__article {
      margin-bottom: 40px; }
  .main__Proyectos .sectionAS {
    margin-top: -250px; }
  .main__Proyectos .sectionAPS {
    margin-top: -250px; }

.imagen__proyecto {
  display: flex;
  padding-top: 50px; }

.Pimagen1 {
  position: relative;
  left: 60px;
  width: 740px;
  height: 550px;
  z-index: 1; }

.Pimagen2 {
  position: relative;
  right: 100px;
  top: 25px;
  width: 718px;
  height: 514px; }

.Pimagen3 {
  position: relative;
  left: 60px;
  width: 384.37px;
  height: 512.2px; }

.Pimagen4 {
  position: relative;
  width: 366.71px;
  height: 538.59px;
  right: 10px;
  top: 30px; }

.Pimagen5 {
  position: relative;
  width: 769.62px;
  height: 512.2px;
  right: 75px;
  top: 30px; }

.Pimagen6 {
  position: relative;
  width: 767.85px;
  height: 512.2px;
  bottom: 130px;
  left: 95px;
  z-index: 1; }

.Pimagen7 {
  position: relative;
  width: 769.62px;
  height: 512.2px;
  bottom: 180px;
  right: 60px; }

.Pimagen8 {
  position: relative;
  width: 685px;
  height: 424px;
  left: 90.74px; }

.Pimagen9 {
  position: relative;
  width: 601px;
  height: 368px;
  left: 100.01px;
  bottom: 70px; }

.Pimagen10 {
  position: relative;
  width: 782px;
  height: 522px;
  left: 400.19px;
  bottom: 250px; }

.Pimagen11 {
  position: relative;
  width: 626px;
  height: 404px;
  left: 53.01px;
  bottom: 70px; }

.Pimagen12 {
  position: relative;
  width: 555px;
  height: 497px;
  left: 202.01px;
  top: 80px; }

.Pimagen13 {
  position: relative;
  width: 553.98px;
  height: 409.32px;
  left: 472.02px;
  bottom: 300px; }

.Pimagen14 {
  position: relative;
  width: 493px;
  height: 295px;
  left: 62px;
  top: 40px; }

.Pimagen15 {
  position: relative;
  width: 509px;
  height: 296px;
  left: 344.96px;
  z-index: 1;
  top: 40px; }

.Pimagen16 {
  position: relative;
  width: 570px;
  height: 346px;
  left: 440.79px;
  bottom: 180px; }

.mainColabora {
  background-color: #ffff;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem; }
  .mainColabora h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: #0199c8; }
  .mainColabora h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #0199c8;
    padding-top: 10px; }
  .mainColabora__divBtn {
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    width: 100%; }
  .mainColabora button {
    justify-content: center;
    align-items: center;
    background-color: #FFBC01;
    box-shadow: 1px 2px 4px rgba(174, 86, 218, 0.33);
    border-radius: 44px;
    height: 234px;
    width: 375px;
    border: none;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #ffff;
    text-align: center;
    letter-spacing: -0.3px;
    margin: 0 2rem; }
  .mainColabora button:hover {
    cursor: pointer;
    background-color: #e2a500; }

.main__Contactos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  padding-right: 2rem;
  padding-left: 2rem; }
  .main__Contactos .h1__Contactos {
    font-weight: 600;
    font-size: 60px;
    line-height: 82px;
    text-align: center; }
  .main__Contactos h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    text-align: center; }
  .main__Contactos p {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-left: 10px; }
  .main__Contactos .main__info {
    display: flex;
    justify-content: flex-start;
    padding-top: 50px; }
  .main__Contactos .sectionRS {
    justify-content: center;
    align-items: center; }
    .main__Contactos .sectionRS h2 {
      font-weight: 600;
      font-size: 50px;
      line-height: 68px;
      padding-top: 40px; }
    .main__Contactos .sectionRS__icons {
      padding-top: 20px;
      align-items: center;
      justify-content: center; }
      .main__Contactos .sectionRS__icons img {
        margin: 1rem; }
      .main__Contactos .sectionRS__icons img:hover {
        cursor: pointer; }
      .main__Contactos .sectionRS__icons .faceItem {
        width: 6rem; }
      .main__Contactos .sectionRS__icons .igItem {
        width: 4rem;
        height: 4rem; }

.main__Filosofia {
  position: fixed;
  background-color: #0199c8;
  padding-top: 8rem;
  color: #ffff; }

@media only screen and (max-width: 1650px) {
  .header, .headerDos {
    height: 7rem; }
    .header__navBar__anchor, .headerDos__navBar__anchor {
      font-size: 1.5rem; }
    .header__navBar__item, .headerDos__navBar__item {
      margin-left: 1rem; }
    .header__divImagen .logoHeader__div, .headerDos__divImagen .logoHeader__div {
      margin: 19rem 0 0 94rem; }
      .header__divImagen .logoHeader__div__img, .headerDos__divImagen .logoHeader__div__img {
        width: 12rem; }
  .divPrueba .h1 {
    font-size: 2.6rem; }
  .divPrueba .h2 {
    font-size: 2.6rem; }
  .divPrueba .p {
    font-size: 1.8rem; }
  .divPrueba .btnDonar {
    font-size: 2rem;
    margin-right: 20%; }
  .fondo .main__QS img {
    width: 600px; } }

@media only screen and (max-width: 1245px) {
  .header__navBar__anchor, .headerDos__navBar__anchor {
    font-size: 1.3rem; }
  .header__navBar__item, .headerDos__navBar__item {
    margin-left: 0.8rem; }
  .header__divImagen .logoHeader__div__img, .headerDos__divImagen .logoHeader__div__img {
    width: 10rem; }
  .divPrueba .h1 {
    font-size: 2.1rem;
    line-height: 40px; }
  .divPrueba .h2 {
    font-size: 2.1rem;
    line-height: 40px; }
  .divPrueba .p {
    margin-top: 15px;
    font-size: 1.4rem;
    margin-bottom: 30px;
    max-width: 25rem; }
  .divPrueba .btnDonar {
    font-size: 1.6rem; }
  .fondo .main__QS img {
    width: 540px; }
  .fondo .main__QS p {
    font-size: 18px;
    line-height: 23px; }
  .fondo .main__QS .titulo__main {
    font-weight: 600;
    font-size: 48px;
    line-height: 50px; }
  .fondo .main__QS__texto {
    justify-content: center;
    align-items: center; } }

@media only screen and (max-width: 1020px) {
  .header__navBar__anchor, .headerDos__navBar__anchor {
    font-size: 1rem; }
  .header__navBar__item, .headerDos__navBar__item {
    margin-left: 0.2rem; }
  .fondo .main__QS img {
    width: 440px; }
  .fondo .main__QS p {
    font-size: 16px;
    line-height: 23px; }
  .fondo .main__QS .titulo__main {
    font-weight: 600;
    font-size: 46px;
    line-height: 50px; }
  .fondo .main__QS__texto {
    justify-content: center;
    align-items: center; }
  .mainColabora h1 {
    font-size: 50px;
    line-height: 72px; }
  .mainColabora h3 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 5px; }
  .mainColabora button {
    height: 160px;
    width: 275px;
    font-size: 19px;
    border-radius: 33px; } }

@media only screen and (max-width: 890px) {
  .header__navBar__anchor, .headerDos__navBar__anchor {
    font-size: 0.8rem; }
  .header__navBar__item, .headerDos__navBar__item {
    margin-left: 0.2rem; }
  .header__divImagen .logoHeader__img, .headerDos__divImagen .logoHeader__img {
    width: 7rem; }
  .divPrueba .h1 {
    line-height: 40px; }
  .divPrueba .h2 {
    line-height: 40px; }
  .divPrueba .p {
    margin-top: 15px;
    font-size: 1.4rem;
    margin-bottom: 30px; }
  .divPrueba .btnDonar {
    font-size: 1.6rem;
    align-self: flex-start; }
  .fondo .main__QS img {
    width: 380px; }
  .fondo .main__QS p {
    font-size: 14px;
    line-height: 20px; }
  .fondo .main__QS .titulo__main {
    font-size: 42px;
    line-height: 45px; }
  .fondo .main__QS__texto {
    justify-content: center;
    align-items: center; }
  .main__Contactos .h1__Contactos {
    font-size: 45px;
    line-height: 48px; }
  .main__Contactos h3 {
    font-size: 22px;
    line-height: 30px;
    padding-top: 15px; }
  .main__Contactos p {
    font-size: 25px;
    line-height: 30px; }
  .main__Contactos .main__info {
    padding-top: 30px; }
  .main__Contactos .sectionRS h2 {
    font-size: 38px;
    line-height: 42px;
    padding-top: 25px; }
  .main__Contactos .sectionRS__icons {
    padding-top: 10px; }
    .main__Contactos .sectionRS__icons .faceItem {
      width: 4.5rem; }
    .main__Contactos .sectionRS__icons .igItem {
      width: 3rem;
      height: 3rem; } }

@media only screen and (max-width: 800px) {
  .header, .headerDos {
    height: 6rem; }
    .header__divImagen, .headerDos__divImagen {
      min-width: 12rem; }
      .header__divImagen .logoHeader__div__img, .headerDos__divImagen .logoHeader__div__img {
        background-color: white;
        border-radius: 10px; }
  .divPrueba .h1 {
    font-size: 1.8rem;
    line-height: 33px; }
  .divPrueba .h2 {
    font-size: 1.8rem;
    line-height: 33px; }
  .divPrueba .p {
    margin-top: 10px;
    font-size: 1rem;
    margin-bottom: 20px; }
  .divPrueba .btnDonar {
    font-size: 1.2rem; }
  .fondo .main__QS img {
    width: 330px; }
  .fondo .main__QS p {
    font-size: 13px;
    line-height: 20px; }
  .fondo .main__QS .titulo__main {
    font-size: 38px;
    line-height: 45px; }
  .fondo .main__QS__texto {
    justify-content: center;
    align-items: center; } }

@media only screen and (max-width: 710px) {
  .header__navBar {
    position: fixed;
    display: none;
    width: 15rem;
    right: -1.5rem;
    top: 3.8rem;
    background: #0199c8;
    text-align: center;
    transition: all .5s;
    justify-content: center;
    padding: 1rem; }
    .header__navBar__ul {
      animation: submenu;
      animation-timing-function: ease-in-out;
      animation-duration: 120ms; }
    .header__navBar__item {
      margin-top: 0.5rem;
      display: none;
      transition: all 3s; }
    .header__navBar__anchor {
      color: white;
      font-size: 1.6rem; }
      .header__navBar__anchor:active, .header__navBar__anchor:hover {
        color: #ffff;
        transition: .3s; }
  .headerDos__navBar {
    position: fixed;
    display: none;
    width: 15rem;
    top: 3.8rem;
    right: -1.5rem;
    background: #ffff;
    text-align: center;
    transition: all .5s;
    justify-content: center;
    padding: 1rem; }
    .headerDos__navBar__ul {
      animation: submenu;
      animation-timing-function: ease-in-out;
      animation-duration: 120ms; }
    .headerDos__navBar__item {
      margin-top: 0.5rem;
      display: none;
      transition: all 3s; }
    .headerDos__navBar__anchor {
      color: #0199c8;
      font-size: 1.6rem; }
      .headerDos__navBar__anchor:active, .headerDos__navBar__anchor:hover {
        color: #0199c8;
        transition: .3s; }
  .bar-btn, .bar-btnDos {
    display: inherit;
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
    transition: transform ease 120ms;
    z-index: 100; }
  .bar-btnDos {
    color: #0199c8; }
  .bar-btn i, .bar-btnDos i {
    transition: all 120ms; }
  #check:checked ~ .bar-btn i, #check:checked ~ .bar-btnDos i {
    transform: rotateZ(-90deg); }
  #check:checked ~ ul {
    display: flex; }
  #check:checked ~ .header__navBar, #check:checked ~ .headerDos__navBar {
    display: inherit;
    border-radius: 0 0 0 10px; }
  #check:checked ~ .header__navBar li, #check:checked ~ .headerDos__navBar li {
    display: block; }
  .header__navBar__anchor, .headerDos__navBar__anchor {
    font-size: 0.8rem; }
  .header__navBar__item, .headerDos__navBar__item {
    margin-left: 0.2rem; }
  .header__divImagen .logoHeader__div__img, .headerDos__divImagen .logoHeader__div__img {
    width: 7rem; }
  main {
    padding-top: 5.5rem; }
  .fondo .main__QS {
    flex-direction: column; }
    .fondo .main__QS img {
      width: 380px; }
    .fondo .main__QS p {
      font-size: 12px;
      line-height: 20px; }
    .fondo .main__QS .titulo__main {
      font-size: 38px;
      line-height: 40px;
      align-self: center; }
    .fondo .main__QS__texto {
      justify-content: center;
      align-items: center;
      text-align: center; }
  .mainColabora h1 {
    font-size: 30px;
    line-height: 30px; }
  .mainColabora h3 {
    font-size: 18px;
    line-height: 24px;
    padding-top: 8px; }
  .mainColabora__divBtn {
    padding-top: 1.5rem; }
  .mainColabora button {
    height: 70px;
    width: 120px;
    font-size: 9px;
    line-height: 11px;
    border-radius: 20px; }
    .mainColabora button img {
      width: 2.2rem; }
  .main__Contactos .h1__Contactos {
    font-size: 35px;
    line-height: 38px; }
  .main__Contactos h3 {
    font-size: 17px;
    line-height: 22px; }
  .main__Contactos p {
    font-size: 22px;
    line-height: 25px; }
  .main__Contactos .main__info {
    padding-top: 20px; }
  .main__Contactos .sectionRS h2 {
    font-size: 30px;
    line-height: 34px;
    padding-top: 22px;
    text-align: center; }
  .main__Contactos .sectionRS__icons {
    padding-top: 5px; }
  @keyframes submenu {
    from {
      height: 0; }
    to {
      height: 9rem; } } }

@media only screen and (max-width: 425px) {
  .fondo .main__QS img {
    width: 300px; }
  .mainColabora h1 {
    font-size: 22px;
    line-height: 24px; }
  .mainColabora h3 {
    font-size: 12px;
    line-height: 14px; }
  .mainColabora__divBtn {
    justify-content: space-between; }
  .mainColabora button {
    height: 45px;
    width: 65px;
    font-size: 8px;
    line-height: 10px;
    border-radius: 9px; }
    .mainColabora button img {
      width: 1.5rem; }
  .main__Contactos .h1__Contactos {
    font-size: 30px;
    line-height: 34px; }
  .main__Contactos h3 {
    font-size: 15px;
    line-height: 19px; }
  .main__Contactos p {
    font-size: 18px;
    line-height: 22px; }
  .main__Contactos .main__info {
    padding-top: 10px; }
  .main__Contactos .sectionRS h2 {
    font-size: 25px;
    line-height: 30px;
    padding-top: 15px; }
  .main__Contactos .sectionRS__icons {
    padding-top: 0px; } }
