.headerDos{
    @extend %flexboxRow;
    position: fixed;
    top: 0;
    width: 100%;
    height: 9rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, $colorSecundario 65%, transparent);
    z-index: 2;

    &__divImagen{
        margin-left: 2.1rem;

        .logoHeader{
            &__img{
                width: 14rem;
            }
        }
    }

    &__navBar{
        margin-right: 1.5rem;

        &__anchor{
            color: $colorPrincipal;
            font-size: 2rem;
            font-weight: 400;
            padding: 0.2rem 0.6rem;

            &:hover{
                background-color: $colorSecundarioClaro;
                border: none;
                border-radius: 9px;
            }
        }

        .linkActive{
            background-color: $colorSecundarioClaro;
            border: none;
            border-radius: 9px;
        }

        &__item{
            display: inline;
            margin-left: 3rem;


            .anchorContacto{
                border: 2px solid $colorPrincipal;
                padding: 0.2rem 0.6rem;
                border-radius: 9px;
            }
        }
    }
    
    @keyframes submenu{
        from{height: 0;}
        to{height: 9rem;}
    }
}

#check, .bar-btnDos{
    display: none;
}

.divPrueba{
    position: absolute;
    // margin-top: 13vh;
    // margin-bottom: 11vh;
    margin: 15vh 0 11vh 1rem;
    width: 40%;
    height: 74vh;
    // background-color: gray;
    z-index: 1;

    @extend %flexboxColumn;
    align-items: flex-start;
    justify-content: center;

    .h1{
        font-size: 3rem;
        font-weight: 300;
        color: $colorPrincipal;
        line-height: 68px;
        max-width: 40rem;
    }

    .h2{
        font-size: 3rem;
        font-weight: 700;
        color: $colorPrincipal;
        line-height: 50px;
    }

    .p{
        margin-top: 30px;
        font-size: 2.3rem;
        font-weight: 400;
        color: #000;
        max-width: 45rem;
        margin-bottom: 60px;
    }

    .btnDonar{
        font-size: 2.5rem;
        font-weight: 700;
        text-decoration: none;
        border-radius: 10px;
        padding: 0.8rem 2.5rem;
        border: none;
        background-color: $colorPrincipal;
        color: $colorSecundario;
        align-self: flex-start;

        &:hover{
            cursor: pointer;
            background-color: $colorPrincipalClaro;
        }

        &__a{
            color: $colorSecundario;
        }
    }
}