.mainIndex{
    padding-top: 0;
    width: 100vw;
    // min-height: 680px;
    height: 100vh;
    // overflow-y: scroll;
    background-image: url(../img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}