.main__Proyectos{
    @extend %flexboxColumn;
    padding: 7rem 2rem 0 2rem;
    color:$colorSecundario;

    section{
        @extend %flexboxColumn;
        justify-content: center;
        margin-top: 1rem;

        h1{
            // font-weight: 600;
            // font-size: 60px;
            // line-height: 95px;
            font-weight: 700;
            font-size: 70px;
            line-height: 95px;
            // margin-bottom: 1rem;
        }
    
        h3 {
            // margin-left: 60px;
            font-weight: 700;
            font-size: 40px;
            line-height: 55px;
            margin-bottom: 1rem;
            // line-height:54.56px;
        }

        p{
            font-weight: 400;
            font-size: 25px;
            line-height: 34.1px;
        }

        img{
            margin: 2rem 0 2rem 0;
            height: auto;
            width: auto;
        }

    }

    .linkeoP1, .linkeoP2, .linkeoP3, .linkeoP4{
        position: relative;
    }

    .linkeoH1, .linkeoH2, .linkeoH3, .linkeoH4{
        width: 1px;
        height: 1px;
        position: absolute;
        bottom: 0;
    }


    // p{
        // margin-left: 60px;
        // margin-right: 60px;
    // }

    // .divImgDS{
    //     @extend %flexboxRow;
    // }

    // .sectionVS{
    //     margin-top: -100px;

    //     &__article{
    //         margin-bottom: 40px;
    //     }
    // }

    // .sectionAS{
    //     margin-top: -250px;
    // }

    // .sectionAPS{
    //     margin-top: -250px;
    // }
}

// .imagen__proyecto{
    // display:flex;
    // padding-top :50px;
// }

// .ProyectoJunto1{
//     position: relative;
// }

// .Pimagen1{
//     position: relative;
//     left: 60px;
//     width: 740px;
//     height: 550px;
//     z-index: 1;
// }

// .Pimagen2{
//     position: relative;
//     right: 100px;
//     top: 25px;
//     width: 718px;
//     height: 514px;
// }

// .Pimagen3{
//     position: relative;
//     // width: 364.37px;
//     // height: 502.2px;
//     left: 60px;
//     width: 384.37px;
//     height: 512.2px;
// }

// .Pimagen4{
//     position: relative;
//     width: 366.71px;
//     height: 538.59px;
//     right: 10px;
//     top: 30px;
// }

// .Pimagen5{
//     position: relative;
//     width: 769.62px;
//     height: 512.2px;
//     right: 75px;
//     top: 30px;
// }

// .Pimagen6{
//     position: relative;
//     width: 767.85px;
//     height: 512.2px;
//     bottom: 130px;
//     left: 95px;
//     z-index: 1;
// }

// .Pimagen7{
//     position: relative;
//     width: 769.62px;
//     height: 512.2px;
//     bottom: 180px;
//     right: 60px;
// }

// .Pimagen8{
//     position: relative;
//     width: 685px;
//     height: 424px;
//     left: 90.74px;
// }

// .Pimagen9{
//     position: relative;
//     width: 601px;
//     height: 368px;
//     left: 100.01px;
//     bottom: 70px;
// }

// .Pimagen10{
//     position: relative;
//     width: 782px;
//     height: 522px;
//     left: 400.19px;
//     bottom: 250px;
// }

// .Pimagen11{
//     position: relative;
//     width: 626px;
//     height: 404px;
//     left: 53.01px;
//     bottom: 70px;
// }

// .Pimagen12{
//     position: relative;
//     width: 555px;
//     height: 497px;
//     left: 202.01px;
//     top: 80px;
// }

// .Pimagen13{
//     position: relative;
//     width: 553.98px;
//     height: 409.32px;
//     left: 472.02px;
//     bottom: 300px;
// }

// .Pimagen14{
//     position: relative;
//     width: 493px;
//     height: 295px;
//     left: 62px;
//     top: 40px;
// }

// .Pimagen15{
//     position: relative;
//     width: 509px;
//     height: 296px;
//     left: 344.96px;
//     z-index: 1;
//     top: 40px;
// }

// .Pimagen16{
//     position: relative;
//     width: 570px;
//     height: 346px;
//     left: 440.79px;
//     bottom: 180px;
// }