.fondo{
    background-color: $colorPrincipal;
    @extend %flexboxColumn;

    .main__QS{ 
        @extend %flexboxRow;
        background-color: $colorPrincipal;
        padding-top: 1rem;
        color:$colorSecundario;
        // justify-content: center;
        text-align: left;
        
        img{
            position: relative;
            width: 750px;
            height: 470px;
        }
    
        p{
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
        }
    
        .titulo__main{
            font-weight: 700;
            font-size: 60px;
            line-height: 82px;
            align-self: flex-start;
        }

        &__texto{
            @extend %flexboxColumn;
            justify-content: center;
            align-items: center;
            padding-left: 2rem;
        }
    }
}

