.main__Proyectos{
    @extend %flexboxColumn;
    padding: 7rem 2rem 0 2rem;
    color:$colorSecundario;

    section{
        @extend %flexboxColumn;
        justify-content: center;
        margin-top: 1rem;

        h1{
            font-weight: 700;
            font-size: 70px;
            line-height: 95px;
        }
    
        h3 {
            font-weight: 700;
            font-size: 40px;
            line-height: 55px;
            margin-bottom: 1rem;
        }

        p{
            font-weight: 400;
            font-size: 25px;
            line-height: 34.1px;
        }

        img{
            margin: 2rem 0 2rem 0;
            height: auto;
            width: auto;
        }
    }

    .linkeoP1, .linkeoP2, .linkeoP3, .linkeoP4{
        position: relative;
    }

    .linkeoH1, .linkeoH2, .linkeoH3, .linkeoH4{
        width: 1px;
        height: 1px;
        position: absolute;
        bottom: 0;  
    }
}