@media only screen and (max-width: 1650px){
    .header, .headerDos{
        height: 7rem;
        
        &__navBar{
            &__anchor{
                font-size: 1.5rem;
            }
            
            &__item{
                margin-left: 1rem;
            }
        }
        
        &__divImagen{
            .logoHeader{
                &__div{
                    margin: 19rem 0 0 94rem;
                    &__img{
                        width: 12rem;
                    }
                    &__contenido{
                        margin-top: 15vh;
                        .h1{
                            font-size: 2.6rem;
                        }

                        .h2{
                            font-size: 2.6rem;
                        }

                        .p{
                            font-size: 1.8rem;
                        }

                        .btnDonar{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1245px){
    .header, .headerDos{

        &__navBar{
            &__anchor{
                font-size: 1.3rem;
            }

            &__item{
                margin-left: 0.8rem;
            }
        }

        &__divImagen{
            .logoHeader{
                &__div{
                    &__img{
                        width: 10rem;
                    }
                    &__contenido{
                        margin-top: 10vh;
                        .h1{
                            font-size: 2.2rem;
                            line-height: 40px;
                        }

                        .h2{
                            font-size: 2.2rem;
                            line-height: 40px;
                        }

                        .p{
                            margin-top: 15px;
                            font-size: 1.4rem;
                            margin-bottom: 30px;
                        }

                        .btnDonar{
                            font-size: 1.6rem;
                            align-self: flex-start;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1020px){
    .header, .headerDos{
        &__navBar{
            &__anchor{
                font-size: 1rem;
            }

            &__item{
                margin-left: 0.2rem;
            }
        }
    }
}

@media only screen and (max-width: 890px){
    .header, .headerDos{
        &__navBar{
            &__anchor{
                font-size: 0.8rem;
            }

            &__item{
                margin-left: 0.2rem;
            }
        }

        &__divImagen{
            .logoHeader{
                &__div{
                    &__img{
                        width: 7rem;
                    }
                    &__contenido{
                        margin-top: 10vh;
                        .h1{
                            font-size: 2.2rem;
                            line-height: 40px;
                        }

                        .h2{
                            font-size: 2.2rem;
                            line-height: 40px;
                        }

                        .p{
                            margin-top: 15px;
                            font-size: 1.4rem;
                            margin-bottom: 30px;
                        }

                        .btnDonar{
                            font-size: 1.6rem;
                            align-self: flex-start;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .header, .headerDos{
        &__divImagen{
            min-width: 12rem;
            .logoHeader{
                left: -99rem;

                &__div{
                    margin: 19rem 0 0 101rem;

                    &__contenido{
                        .h1{
                            font-size: 1.8rem;
                            line-height: 33px;
                        }

                        .h2{
                            font-size: 1.8rem;
                            line-height: 33px;
                        }

                        .p{
                            margin-top: 10px;
                            font-size: 1rem;
                            margin-bottom: 20px;
                        }

                        .btnDonar{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 690px){
    //MENU HAMBURGUESA
}