@media only screen and (max-width: 1650px){
    //HEADER 1650px

    .header, .headerDos{
        height: 7rem;
        
        &__navBar{
            &__anchor{
                font-size: 1.5rem;
            }
            
            &__item{
                margin-left: 1rem;
            }
        }
        
        &__divImagen{
            .logoHeader{
                &__div{
                    margin: 19rem 0 0 94rem;
                    &__img{
                        width: 12rem;
                    }
                    // &__contenido{
                    //     margin-top: 15vh;
                    //     .h1{
                    //         font-size: 2.6rem;
                    //     }

                    //     .h2{
                    //         font-size: 2.6rem;
                    //     }

                    //     .p{
                    //         font-size: 1.8rem;
                    //     }

                    //     .btnDonar{
                    //         font-size: 2rem;
                    //     }
                    // }
                }
            }
        }
    }

    //MAIN 1650px

    .divPrueba{
        // margin-top: 15vh;
        .h1{
            font-size: 2.6rem;
        }

        .h2{
            font-size: 2.6rem;
        }

        .p{
            font-size: 1.8rem;
        }

        .btnDonar{
            font-size: 2rem;
            margin-right: 20%;
        }
    }

    //QUIENES SOMOS 1650px

    .fondo{
        .main__QS{
            img{
                width: 600px;
            }
        }
    }
}

@media only screen and (max-width: 1245px){
    //HEADER 1245px

    .header, .headerDos{
        &__navBar{
            &__anchor{
                font-size: 1.3rem;
            }

            &__item{
                margin-left: 0.8rem;
            }
        }

        &__divImagen{
            .logoHeader{
                &__div{
                    &__img{
                        width: 10rem;
                    }
                    // &__contenido{
                    //     margin-top: 10vh;
                    //     .h1{
                    //         font-size: 2.1rem;
                    //         line-height: 40px;
                    //     }

                    //     .h2{
                    //         font-size: 2.1rem;
                    //         line-height: 40px;
                    //     }

                    //     .p{
                    //         margin-top: 15px;
                    //         font-size: 1.4rem;
                    //         margin-bottom: 30px;
                    //         max-width: 25rem;
                    //     }

                    //     .btnDonar{
                    //         font-size: 1.6rem;
                    //         align-self: flex-start;
                    //     }
                    // }
                }
            }
        }
    }

    //MAIN 1245px

    .divPrueba{
        // margin-top: 10vh;
        .h1{
            font-size: 2.1rem;
            line-height: 40px;
        }

        .h2{
            font-size: 2.1rem;
            line-height: 40px;
        }

        .p{
            margin-top: 15px;
            font-size: 1.4rem;
            margin-bottom: 30px;
            max-width: 25rem;
        }

        .btnDonar{
            font-size: 1.6rem;
            // align-self: flex-start;
            // margin-right: 50%;
        }
    }

    //QUIENES SOMOS 1245px

    .fondo{
        .main__QS{
            img{
                width: 540px;
            }

            p{
                font-size: 18px;
                line-height: 23px;
            }
        
            .titulo__main{
                font-weight: 600;
                font-size: 48px;
                line-height: 50px;
            }
    
            &__texto{
                justify-content: center;
                align-items: center;
                // padding-left: 2rem;
                // min-width: 30rem;
                // text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 1020px){
    //HEADER 1020px

    .header, .headerDos{
        &__navBar{
            &__anchor{
                font-size: 1rem;
            }

            &__item{
                margin-left: 0.2rem;
            }
        }
    }

    //QUIENES SOMOS 1020px

    .fondo{
        .main__QS{
            img{
                width: 440px;
            }

            p{
                font-size: 16px;
                line-height: 23px;
            }
        
            .titulo__main{
                font-weight: 600;
                font-size: 46px;
                line-height: 50px;
            }
    
            &__texto{
                justify-content: center;
                align-items: center;
                // padding-left: 2rem;
                // min-width: 30rem;
                // text-align: center;
            }
        }
    }

    //COLABORA 1020px

    .mainColabora{
        h1{
            font-size: 50px;
            line-height: 72px;
        }
    
        h3{
            font-size: 20px;
            line-height: 30px;
            padding-top: 5px;
        }

        button{
            height: 160px;
            width: 275px;
            font-size: 19px;
            border-radius: 33px;
        }
    }
}

@media only screen and (max-width: 890px){
    //HEADER 890px

    .header, .headerDos{
        &__navBar{
            &__anchor{
                font-size: 0.8rem;
            }

            &__item{
                margin-left: 0.2rem;
            }
        }

        &__divImagen{
            .logoHeader{
                // &__div{
                    &__img{
                        width: 7rem;
                    }
                    // &__contenido{
                    //     margin-top: 10vh;
                    //     .h1{
                    //         line-height: 40px;
                    //     }

                    //     .h2{
                    //         line-height: 40px;
                    //     }

                    //     .p{
                    //         margin-top: 15px;
                    //         font-size: 1.4rem;
                    //         margin-bottom: 30px;
                    //     }

                    //     .btnDonar{
                    //         font-size: 1.6rem;
                    //         align-self: flex-start;
                    //     }
                    // }
                }
            // }
        }
    }

    //MAIN 890px

    .divPrueba{
        // margin-top: 10vh;
        .h1{
            line-height: 40px;
        }

        .h2{
            line-height: 40px;
        }

        .p{
            margin-top: 15px;
            font-size: 1.4rem;
            margin-bottom: 30px;
        }

        .btnDonar{
            font-size: 1.6rem;
            align-self: flex-start;
        }
    }

    //QUIENES SOMOS 890px

    .fondo{
        .main__QS{
            img{
                width: 380px;
            }

            p{
                font-size: 14px;
                line-height: 20px;
            }
        
            .titulo__main{
                font-size: 42px;
                line-height: 45px;
            }
    
            &__texto{
                justify-content: center;
                align-items: center;
                // padding-left: 2rem;
                // min-width: 30rem;
                // text-align: center;
            }
        }
    }

    //CONTACTO 890px
    
    .main__Contactos{
        .h1__Contactos{
            font-size: 45px;
            line-height: 48px;
        }

        h3{
            font-size: 22px;
            line-height: 30px;
            padding-top: 15px;
        }
    
        p{
            font-size: 25px;
            line-height: 30px;
        }

        .main__info{
            padding-top: 30px;
        }

        .sectionRS{
            h2{
                font-size: 38px;
                line-height: 42px;
                padding-top: 25px;
            }
    
            &__icons{
                padding-top: 10px;
    
                .faceItem{
                    width: 4.5rem;
                }
    
                .igItem{
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px){
    //HEADER 800px

    .header, .headerDos{
        height: 6rem;
        &__divImagen{
            min-width: 12rem;
            .logoHeader{
                // left: -99rem;
                &__div{
                    // margin: 19rem 0 0 101rem;
                    &__img{
                        background-color: white;
                        border-radius: 10px;
                    }

                    // &__contenido{
                    //     .h1{
                    //         font-size: 1.8rem;
                    //         line-height: 33px;
                    //     }

                    //     .h2{
                    //         font-size: 1.8rem;
                    //         line-height: 33px;
                    //     }

                    //     .p{
                    //         margin-top: 10px;
                    //         font-size: 1rem;
                    //         margin-bottom: 20px;
                    //     }

                    //     .btnDonar{
                    //         font-size: 1.2rem;
                    //     }
                    // }
                }
            }
        }
    }

    //MAIN 800PX

    .divPrueba{
        .h1{
            font-size: 1.8rem;
            line-height: 33px;
        }

        .h2{
            font-size: 1.8rem;
            line-height: 33px;
        }

        .p{
            margin-top: 10px;
            font-size: 1rem;
            margin-bottom: 20px;
        }

        .btnDonar{
            font-size: 1.2rem;
        }
    }

    //QUIENES SOMOS 800px

    .fondo{
        .main__QS{
            img{
                width: 330px;
            }
    
            p{
                font-size: 13px;
                line-height: 20px;
            }
        
            .titulo__main{
                font-size: 38px;
                line-height: 45px;
            }
    
            &__texto{
                justify-content: center;
                align-items: center;
                // padding-left: 2rem;
                // min-width: 30rem;
                // text-align: center;
                
            }
        }
    }

}

@media only screen and (max-width: 710px){
    //MENU HAMBURGUESA
    //HEADER 710px

    .header__navBar{
        position: fixed;
        display: none;
        width: 17rem;
        right: -1.5rem;
        top: 3.8rem;
        background: $colorPrincipal;
        text-align: center;
        transition: all .5s;
        justify-content: center;
        padding: 1rem;

        &__ul{
            animation: submenu;
            animation-timing-function: ease-in-out;
            animation-duration: 120ms;
        }
        
        &__item{
            margin-top: 0.5rem;
            display: none;
            transition: all 3s;
        }

        &__anchor{
            color: white;
            font-size: 1.6rem;

            &:active, &:hover{
                color: $colorSecundario;
                transition: .3s;
            }
        }
    }

    .headerDos__navBar{
        position: fixed;
        display: none;
        width: 17rem;
        top: 3.8rem;
        right: -1.5rem;
        background: $colorSecundario;
        text-align: center;
        transition: all .5s;
        justify-content: center;
        padding: 1rem;

        &__ul{
            animation: submenu;
            animation-timing-function: ease-in-out;
            animation-duration: 120ms;
        }
        
        &__item{
            margin-top: 0.5rem;
            display: none;
            transition: all 3s;
        }

        &__anchor{
            color: $colorPrincipal;
            font-size: 1.6rem;

            &:active, &:hover{
                color: $colorPrincipal;
                transition: .3s;
            }
        }
    }

    // #check, .bar-btn{
    //     display: inherit;
    // }

    .bar-btn, .bar-btnDos{
        display: inherit;
        font-size: 2rem;
        color: white;
        margin-right: 1rem;
        cursor: pointer;
        transition: transform ease 120ms;
        z-index: 100;
    }

    .bar-btnDos{
        color: $colorPrincipal;
    }

    .bar-btn i, .bar-btnDos i{
        transition: all 120ms;
    }

    // .bar-btn i, .bar-btnDos i{
    //     transition: all 120ms;
    // }

    #check:checked ~ .bar-btn i, #check:checked ~ .bar-btnDos i{
        transform: rotateZ(-90deg);
    }

    #check:checked ~ ul{
        display: flex;
    }

    #check:checked ~ .header__navBar, #check:checked ~ .headerDos__navBar{
        display: inherit;
        border-radius: 0 0 0 10px;
    }

    #check:checked ~ .header__navBar li, #check:checked ~ .headerDos__navBar li{
        display: block;
        margin-top: 0.8rem;
    }

    .header, .headerDos{
        &__navBar{
            &__anchor{
                font-size: 1.8rem;
            }

            &__item{
                margin-left: 0.2rem;
            }
        }

        &__divImagen{
            .logoHeader{
                &__div{
                    &__img{
                        width: 7rem;
                    }
                }
            }
        }
    }

    //MAIN 710px

    main{
        padding-top: 5.5rem;
    }

    //QUIENES SOMOS 710px

    .fondo{
        .main__QS{
            flex-direction: column;
            img{
                width: 380px;
            }

            p{
                font-size: 12px;
                line-height: 20px;
            }
        
            .titulo__main{
                font-size: 38px;
                line-height: 40px;
                align-self: center;
            }
    
            &__texto{
                justify-content: center;
                align-items: center;
                // min-width: 30rem;
                text-align: center;
            }
        }
    }

    //COLABORA 710px

    .mainColabora{
        h1{
            font-size: 30px;
            line-height: 30px;
        }
    
        h3{
            font-size: 18px;
            line-height: 24px;
            padding-top: 8px;
        }

        &__divBtn{
            padding-top: 1.5rem;
        }

        button{
            height: 70px;
            width: 120px;
            font-size: 9px;
            line-height: 11px;
            border-radius: 20px;

            img{
                width: 2.2rem;
            }
        }
    }

    //CONTACTOS 710px

    .main__Contactos{
        .h1__Contactos{
            font-size: 35px;
            line-height: 38px;
        }

        h3{
            font-size: 17px;
            line-height: 22px;
        }
    
        p{
            font-size: 22px;
            line-height: 25px;
        }

        .main__info{
            padding-top: 20px;
        }

        .sectionRS{
            h2{
                font-size: 30px;
                line-height: 34px;
                padding-top: 22px;
                text-align: center;
            }
    
            &__icons{
                padding-top: 5px;
            }
        }
    }

    @keyframes submenu{
        from{height: 0;}
        to{height: 9rem;}
    }
}

@media only screen and (max-width: 425px){
    //QUIENES SOMOS 425px
    .fondo{
        .main__QS{
            img{
                width: 300px;
            }
        }
    }

    //COLABORA 425px

    .mainColabora{
        h1{
            font-size: 22px;
            line-height: 24px;
        }
    
        h3{
            font-size: 12px;
            line-height: 14px;
        }

        &__divBtn{
            // align-items: center;
            justify-content: space-between;
        }

        button{
            height: 45px;
            width: 65px;
            font-size: 8px;
            line-height: 10px;
            border-radius: 9px;

            img{
                width: 1.5rem;
            }
        }
    }

    //CONTACTO 425px

    .main__Contactos{
        .h1__Contactos{
            font-size: 30px;
            line-height: 34px;
        }

        h3{
            font-size: 15px;
            line-height: 19px;
        }
    
        p{
            font-size: 18px;
            line-height: 22px;
        }

        .main__info{
            padding-top: 10px;
        }

        .sectionRS{
            h2{
                font-size: 25px;
                line-height: 30px;
                padding-top: 15px;
            }
    
            &__icons{
                padding-top: 0px;
            }
        }
    }
}